body {
  margin: 0;
  padding: 0;
  font-family: Arial;
}
/* Navbar style */
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  top: 0;
  width: 100%;
  background-color: #333;
  overflow: hidden;
}

.navbar ul li {
  float: left;
}

.navbar ul li a, .dropbtn {
  display: inline-block;
  padding: 14px 16px;
  text-decoration: none;
  text-align: center;
  color: white;
  font-size: 16px;
}

.navbar ul li a:hover, .dropdown:hover, .dropbtn:hover {
  background-color: #aaa;
  text-decoration: none;
  color: #111;
}

.active {
  background-color: #4c90af;
}

.dropdown-nav {
  display: inline-block;
}

.dropdown-content {
  position: absolute;
  display: none;
  background-color: #eee;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.navbar .dropdown-content a {
  display: block;
  color: #000;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #aaa;
}

.dropdown-nav:hover .dropdown-content {
  display: block;
}

/* Poll style*/
.poll {
  position: relative;
  width: 100%;
  min-height: 590px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #ddd;
  z-index: 1;
}

.row {
  position: relative;
  width: 98%;
  left: 2.5%;
}

#vote-area {
  border: px solid gray;
  height: 100%;
  padding-top: 60px;
  background-color: #ddd;
  margin: 0;
}

form {
  border: px solid green;
  padding: 5px;
}

select {
  width: 50%;
  padding: 5px;
  font-size: 14px;
  border-radius: 3px;
}

select:hover {
  border: 1px solid #77f;
}

#vote {
  width: 100%;
  margin-top: 10px;
  padding: 9px;
  background-color: #26f;
  border: 1px solid #25f;
  border-radius: 3px;
  color: white;
  font-size: 15px;
  cursor: pointer;
}

#vote:hover {
  background-color: #15f;
}

#share {
  width: 100%;
  margin-top: 3px;
  padding: 9px;
  background-color: #48f;
  border: 1px solid #37f;
  border-radius: 3px;
  cursor: pointer;
  color: white;
}

#share a {
  text-decoration: none;
  font-size: 15px;
}

#chart-container {
  position: relative;
  border: px solid #ddd;
  padding: 0;
  height: 500px;
  z-index: 1;
}

#piechart {
  position: absolute;
  border: px solid blue;
  height: 100%;
  width: 100%;
  background: #ddd;
}

#delete {
  border: 1px solid #f33;
  width: 100%;
  margin-top: 6px;
  padding: 9px;
  color: white;
  background-color: #f44;
  border-radius: 3px;
  font-size: 16px;
}

#delete a, #delete a:hover {
  color: white;
  text-decoration: none;
}

#delete:hover {
  background-color: #f33;
  border: 1px solid #f22;
}

/* New poll style */
#newpoll {
  position: relative;
  width: 100%;
  /*left: 2%;*/
  background-color: #eee;
  padding: 20px 30px;
  margin: 20px 0px;
  min-height: 590px;
  z-index: 1;
}


#newpoll .row form input {
  width: 100%;
  padding: 8px;
  margin: 5px 0px;
  border-radius: 3px;
  border: 1px solid #aaa;
}

#newpoll .row form button {
  padding: 8px;
  border-radius: 3px;
  font-size: 15px;
  font-weight: bold;
  color: white;
}

textarea {
  width: 100%;
  border-radius: 3px;
  margin-bottom: 20px;
  padding: 8px;
}

#make {
  width: 100%;
  margin-top: 8px;
  border: 1px solid #25f;
  background-color: #26f;
}

#make:hover {
  background-color: #47f;
}

#options-list {
  padding: 30px 50px;
  border: px solid black;
}

#options-list ol li {
  font-size: 18px;
}
/* Polls list style */
.main {
  position: relative;
  margin-top: 20px;
  padding: 30px;
  width: 100%;
  /*left: 5%;*/
  border: px solid green;
  background-color: #ddd;
  min-height: 590px;
  z-index: 1;
}

.list ul {
  position: relative;
  list-style-type: none;
  overflow: hidden;
  width: 90%;
  left: 4%;
  margin-top: 40px;
}

.list ul li {
  
}

.list ul li a {
  display: block;
  text-decoration: none;
  background-color: #eee;
  padding: 10px;
  margin: 3px 0px;
  text-align: center;
  color: #444;
}

.list ul li a:hover {
  background-color: #fff;
  
}

