doctype html
head
    title Home
    meta(charset="utf-8")
    link(href="/public/css/main.css" rel="stylesheet" type="text/css")
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css")
body
    script(type="text/javascript" src="https://vote-nguoinaodo.herokuapp.com/common/ajax-functions.js")
    script(type="text/javascript" src="https://vote-nguoinaodo.herokuapp.com/controllers/polls.client.js")
    
    
    .navbar 
        ul
            if auth 
                if href == "polls"
                    li.active: a(href="#") Home
                    li: a(href="/mypolls") My Polls
                else 
                    li: a(href="/polls") Home
                    li.active: a(href="#") My Polls
                li: a(href="/newpoll") New Polls
                li.dropdown-nav
                    a.dropbtn(href="#") #{displayName}
                    .dropdown-content
                        a(href="/signout") Sign out
            else 
                li.active: a(href="#") Home
                li: a(href="/auth/github") Sign in
    .main
        h1(style="text-align: center; font-size: 40px;") FCC-voting
        h3(style="text-align: center") #{cap1} 
        h3(style="text-align: center") #{cap2} 
        .list
            ul
                